/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";

/* ------------------------------------------------------------ *\
	Blocks: Section Trainings
\* ------------------------------------------------------------ */

.trainings {
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: $primary-300;

	@include breakpoint-down(tablet) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.trainings__content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1576px;
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
	align-items: flex-start;

	@include breakpoint-down(small-desktop) {
		flex-direction: column;
		gap: 45px;
	}

	@include breakpoint-down(tablet) {
		gap: 35px;
	}

	@include breakpoint-down(mobile) {
		gap: 30px;
	}

	&>* {
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
	}
}

.trainings__left,
.trainings__right {
	max-width: calc(50% - 14px);

	@include breakpoint-down(small-desktop) {
		max-width: 100%;
	}
}

.trainings__left {
	margin-top: 92px;
	padding-left: 16px;
	border-left: 3px solid $accent-400;

	@include breakpoint-down(small-desktop) {
		margin-top: 0;
	}

	@include breakpoint-down(mobile) {
		padding-left: 8px;
	}
}

.trainings__right-inner {
	margin-left: auto;
	max-width: 682px;

	@include breakpoint-down(small-desktop) {
		margin-left: 0;
		max-width: none;
	}
}

.trainings__tablist {
	@include breakpoint-down(mobile) {
		margin-left: 50%;
		width: 100vw;
		transform: translateX(-50%);
	}
}

.trainings__tab-content {
	margin-top: 30px;
}

.trainings__tabpanel {
	display: flex;
	flex-wrap: wrap;

	&>* {
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
	}
}

.trainings__training {
	margin-bottom: 20px;
	font-family: $font-second;
	font-size: 24px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;

	@include breakpoint-down(tablet) {
		font-size: 20px;
	}
}

.trainings__title {
	font-size: 60px;
	line-height: 1;
	font-weight: 900;

	@include breakpoint-down(tablet) {
		font-size: 30px;
	}
}

.trainings__review {
	margin-top: 30px;
	max-width: 650px;
	font-family: $font-second;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: -.05em;

	@include breakpoint-down(small-desktop) {
		max-width: 100%;
	}

	@include breakpoint-down(tablet) {
		margin-top: 20px;
	}
}

.trainings__link {
	margin: -1px;
	display: flex;
	align-items: center;
	padding: 24px;
	// min-width: 225px;
	min-height: 122px;
	max-width: calc(33.33% + 2px);
	color: $primary-600;
	background-color: $white;
	text-decoration: none;
	border: 1px solid transparentize($black, .9);

	@include breakpoint-down(desktop) {
		padding: 18px;
	}

	@include breakpoint-down(small-desktop) {
		padding: 24px;
	}

	@include breakpoint-down(mobile) {
		max-width: calc(50% + 2px);
		padding: 15px;
	}

	@include breakpoint-down(mobile-small) {
		padding: 10px;
	}

	@media(pointer: coarse) {
		&:active {
			.trainings__text {
				transition-duration: 0.1s;
				background-size: calc(100% - 0px - 0px) 1px;
			}
		}
	}

	@media (hover: hover) and (pointer: fine) {

		&:hover,
		&:focus-visible {

			.trainings__text {
				background-size: calc(100% - 0px - 0px) 1px;
			}
		}
	}
}

.trainings__icon {
	color: $accent-400;
}

.trainings__text {
	margin-left: 8px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;

	background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
	background-position: left calc(0% + 0px) bottom;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size 0.3s ease-in-out;

	// @include breakpoint-down(mobile) {
	// 	font-size: 14px;
	// }


	@include breakpoint-down(mobile-small) {
		font-size: 14px;
	}
}

// @include underline-effect('.trainings__link', '.trainings__text ');

.nav {
	flex-wrap: nowrap;

	// scroll-snap-type: x mandatory;
	overflow-x: scroll;

	/* WebKit (Chrome, Safari, Opera) */
	&::-webkit-scrollbar {
		display: none;
	}

	/* Firefox */
	scrollbar-width: none;

	/* Internet Explorer / Edge */
	-ms-overflow-style: none;

	/* Для Edge (Chromium) */
	overflow: -ms-autohide-scrollbar;

	&>* {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.nav-item:first-child {
		margin-left: auto;
	}

	.nav-item:last-child {
		margin-right: auto;
	}
}
